<div class="doc">
	<h1 class="doc__title">Уведомление-расписка</h1>
	<p class="doc__p">Заявление и документы от гр. <span class="doc__person">{{doc.name}}</span></p>
	<table class="doc__table">
		<tr><th rowspan="2">Регистрационный номер<br>заявления</th><th colspan="2">Принял</th></tr>
		<tr><th>Дата приема заявления</th><th>Подпись специалиста</th></tr>
		<tr><td>{{doc.requestNum}}</td><td>{{doc.requestDate | date:'dd-MM-yyyy'}}</td><td></td></tr>
	</table>
	<hr class="doc__line">
	<p class="doc__small-text">линия отреза</p>
		<h1 class="doc__title">Уведомление-расписка</h1>
	<p class="doc__p">Заявление и документы от гр. <span class="doc__person">{{doc.name}}</span></p>
	<table class="doc__table">
		<tr><th rowspan="2">Регистрационный номер<br>заявления</th><th colspan="2">Принял</th></tr>
		<tr><th>Дата приема заявления</th><th>Подпись специалиста</th></tr>
		<tr><td>{{doc.requestNum}}</td><td>{{doc.requestDate | date:'dd-MM-yyyy'}}</td><td></td></tr>
	</table>
</div>