<div class="doc">
	<div class="doc__person">
		{{doc.name}}<br>
		{{doc.snils}}<br>
		{{doc.address}}<br>
	</div>
	<h1 class="doc__title">УВЕДОМЛЕНИЕ</h1>
	<p class="doc__p">
		Государственное учреждение – Курское региональное отделение Фонда социального страхования Российской Федерации уведомляет <strong>о направлении в территориальный орган Пенсионного фонда Российской Федерации запроса о предоставлении сведений из страхового свидетельства обязательного пенсионного страхования о заявителе</strong><br><br>
		<strong>{{doc.name}}, {{doc.address}}</strong><br><br>
		в рамках межведомственного взаимодействия в целях предоставления государственной услуги по обеспечению инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также по выплате компенсации за самостоятельно приобретенные инвалидами технические средства реабилитации (ветеранами протезы (кроме зубных протезов), протезно-ортопедические изделия) и (или) оплаченные услуги и ежегодной денежной компенсации расходов инвалидов на содержание и ветеринарное обслуживание собак-проводников.
	</p>
	<br>
	<p class="doc__p"><input class="doc__field" placeholder="Должность" (blur)="onBlur($event)" value="{{post}}" autofocus>: ______________________ {{user}} {{currentDate | date:'dd-MM-yyyy'}}</p>
	<hr class="doc__line">
	<p class="doc__small-text">линия отреза</p>
	<div class="doc__person">
		{{doc.name}}<br>
		{{doc.snils}}<br>
		{{doc.address}}<br>
	</div>
	<h1 class="doc__title">УВЕДОМЛЕНИЕ</h1>
	<p class="doc__p">
		Государственное учреждение – Курское региональное отделение Фонда социального страхования Российской Федерации уведомляет <strong>о направлении в территориальный орган Пенсионного фонда Российской Федерации запроса о предоставлении сведений из страхового свидетельства обязательного пенсионного страхования о заявителе</strong><br><br>
		<strong>{{doc.name}}, {{doc.address}}</strong><br><br>
		в рамках межведомственного взаимодействия в целях предоставления государственной услуги по обеспечению инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также по выплате компенсации за самостоятельно приобретенные инвалидами технические средства реабилитации (ветеранами протезы (кроме зубных протезов), протезно-ортопедические изделия) и (или) оплаченные услуги и ежегодной денежной компенсации расходов инвалидов на содержание и ветеринарное обслуживание собак-проводников.
	</p>
	<br>
	<p class="doc__p">{{post}}: ______________________ {{user}} {{currentDate | date:'dd-MM-yyyy'}}</p>
</div>