.btn--import {
	padding: 9px;
}

.btn__mrgn {
	margin-left: -15px;
}

app-print-forms {
	display: inline-block;
}

.row {
    margin: 0;
}

.row__btn {
	margin-left: 15px;
}

.row__delete-btn {
	margin-left: 30px;
}

.bic {
  font-weight: 100;
  font-size: 7.5px;
}
