<div class="doc">
	<div class="doc__person">
		{{doc.name}}<br>
		{{doc.snils}}<br>
		{{doc.address}}<br>
	</div>
	<h1 class="doc__title">УВЕДОМЛЕНИЕ</h1>
	<p class="doc__p">Государственное учреждение – Курское региональное отделение Фонда социального страхования Российской Федерации уведомляет <strong>о возврате заявления</strong> для предоставления государственной услуги по обеспечению инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также по выплате компенсации за самостоятельно приобретенные инвалидами технические средства реабилитации (ветеранами протезы (кроме зубных протезов), протезно-ортопедические изделия) и (или) оплаченные услуги и ежегодной денежной компенсации расходов инвалидов на содержание и ветеринарное обслуживание собак-проводников  и <strong>направленных с ним документов</strong>.</p>
	<p class="doc__p  doc__p--warn">Основанием для начала административной процедуры является поступление в региональное отделение заявления и полного комплекта документов.</p>
	<p class="doc__p">Предоставлены следующие документы /копии документов:</p>
	<p class="doc__p">
		<input type="checkbox">	заявление;<br>
		<input type="checkbox">	документ, удостоверяющий личность заявителя;<br>
 в случае если за получением государственной услуги в интересах заявителя обращается его представитель, то представляются также:<br>
		<input type="checkbox">	документ, удостоверяющий личность представителя заявителя;<br>
		<input type="checkbox">	документ, подтверждающий полномочия представителя заявителя;<br>
		<input type="checkbox">	свидетельство о рождении (для детей до 14 лет);<br>
		<input type="checkbox">	индивидуальная программа реабилитации инвалида (ребенка-инвалида;<br>
		<input type="checkbox">	заключение врачебной комиссии медицинской организации, оказывающей лечебно-профилактическую помощь, о нуждаемости ветерана в обеспечении протезами (кроме зубных протезов), протезно-ортопедическими изделиями;<br>
		<input type="checkbox">	документы, подтверждающие понесенные заявителем расходы;<br>
		<input type="checkbox">	письменное подтверждение необходимости поездки, выданное организацией, в которую выдано направление;<br>
		<input type="checkbox">	паспорт установленного образца на собаку-проводника;<br>
		<input type="checkbox">	копия справки установленного образца об осмотре собаки-проводника, выданной государственным ветеринарным учреждением не ранее чем за 30 дней до подачи заявления;<br>
		<input type="checkbox">	проездные документы, подтверждающие понесенные заявителем расходы;<br>
		<input type="checkbox">	заключение медико-технической экспертизы по установлению необходимости ремонта или досрочной замены технических средств (изделий);<br>
		<input type="checkbox">	страховое свидетельство обязательного пенсионного страхования заявителя.
	</p>
	<p class="doc__p">Недостающие документы, которые необходимо предоставить:</p>
	<p class="doc__p">
		<input type="checkbox">	заявление;<br>
		<input type="checkbox">	документ, удостоверяющий личность заявителя;<br>
 в случае если за получением государственной услуги в интересах заявителя обращается его представитель, то представляются также:<br>
		<input type="checkbox">	документ, удостоверяющий личность представителя заявителя;<br>
		<input type="checkbox">	документ, подтверждающий полномочия представителя заявителя;<br>
		<input type="checkbox">	свидетельство о рождении (для детей до 14 лет);<br>
		<input type="checkbox">	индивидуальная программа реабилитации инвалида (ребенка-инвалида;<br>
		<input type="checkbox">	заключение врачебной комиссии медицинской организации, оказывающей лечебно-профилактическую помощь, о нуждаемости ветерана в обеспечении протезами (кроме зубных протезов), протезно-ортопедическими изделиями;<br>
		<input type="checkbox">	документы, подтверждающие понесенные заявителем расходы;<br>
		<input type="checkbox">	письменное подтверждение необходимости поездки, выданное организацией, в которую выдано направление;<br>
		<input type="checkbox">	паспорт установленного образца на собаку-проводника;<br>
		<input type="checkbox">	копия справки установленного образца об осмотре собаки-проводника, выданной государственным ветеринарным учреждением не ранее чем за 30 дней до подачи заявления;<br>
		<input type="checkbox">	проездные документы, подтверждающие понесенные заявителем расходы;<br>
		<input type="checkbox">	заключение медико-технической экспертизы по установлению необходимости ремонта или досрочной замены технических средств (изделий);<br>
		<input type="checkbox">	страховое свидетельство обязательного пенсионного страхования заявителя.
	</p>
	<p class="doc__p  doc__p--warn">Не заверенные в установленном законом порядке копии документов, рассматриваются при представлении заявителем подлинников документов.</p>
	<p class="doc__p">Заявление и полный комплект документов необходимо предоставить в Государственное учреждение – Курское региональное отделение Фонда социального страхования Российской Федерации  по адресу: г. Курск,  ул. Никитская д. 4 корп. А , отдел обеспечения инвалидов ТСР.</p>
	<p class="doc__p">График работы Государственного учреждения – Курского регионального отделения Фонда социального страхования Российской Федерации :<br>
		Понедельник-Четверг: с 9-00 до 18-00<br>
		Пятница: с 9-00 до 16-45<br>
		Перерыв: с 12-30 до 13-15<br>
		Выходной: Суббота, Воскресенье.
	</p>
	<br>
	<p class="doc__p">Контактный телефон: (4712) 72-23-70</p>
	<p class="doc__p"><input class="doc__field" placeholder="Должность" (blur)="onBlur($event)" value="{{post}}" autofocus>: ______________________ {{user}} <input type="date"></p>
</div>