<div class="doc">
    <div class="person__info">
    	<b>{{doc.name}}</b><br>{{doc.address}}
    </div>
    <div class="application">
    	Приложение № 1<br>
		к Приказу Министерства здравоохранения и социального развития Российской Федерации от 21.08.2008 № 439н
		(в ред. Приказа Минтруда России
		от 22.01.2014 № 25н)<br>
		Форма
    </div>
    <h1 class="doc__title">Уведомление<br>о постановке на учет по обеспечению техническими средствами реабилитации, протезами, протезно-ортопедическими изделиями<br>№{{doc.decisionNum}} от {{doc.decisionDate | date:'dd.MM.yyyy'}}г.
	</h1>
	<p class="doc__person-name">Уважаемый(ая) {{doc.name}}!</p>
	<p class="doc__p">Вы поставлены на учет в  Государственное учреждение- Курское региональное отделение Фонда социального страхования Российской Федерации</p>
	<p class="doc__p">для обеспечения (получения, изготовления, замены) (нужное подчеркнуть)</p>
	<p class="doc__p">{{doc.approvedProstheses}}</p>
	<p class="doc__p">Основание (указываются реквизиты документа, на основании которого инвалиду, ветерану выдано уведомление):</p>
	<p class="doc__p">индивидуальная программа реабилитации {{doc.program}}</p>
	<p class="doc__p">заключение врачебной комиссии медицинской организации, оказывающей лечебно-профилактическую помощь, №	_______ от “____”_______________20____г.</p>
	<p class="doc__p">Ваш регистрационный номер по постановке на учет <b>{{doc.decisionNum}}</b> от {{doc.decisionDate | date:'dd.MM.yyyy'}}</p>
	<p class="doc__p">Справки по телефону: 72-23-69 </p>
	<br>
	<br>
	<p class="doc__p"><input class="doc__field" placeholder="Должность" (blur)="onBlur($event)" value="{{post}}" autofocus> ______________________ {{user}}</p>
	<p class="doc__p">М.П.</p>
</div>
