<div class="doc">
	<div class="doc__person">
		{{doc.name}}<br>
		{{doc.address}}<br>
	</div>
	<h1 class="doc__title">УВЕДОМЛЕНИЕ</h1>
	<div class="doc__date">
		{{doc.decisionDate | date:'dd-MM-yyyy'}}
	</div>
	<div class="doc__num">
		№{{doc.decisionNum}}
	</div>
	<br>
	<p class="doc__person-name">Уважаемый(ая) {{doc.name}}!</p>
	<p class="doc__p">Рассмотрев Ваше заявление от {{doc.requestDate | date:'dd-MM-yyyy'}} №{{doc.requestNum}}, Государственное учреждение - Курское региональное отделение Фонда социального страхования Российской Федерации сообщает о принятом решении о постановке на учет для обеспечения инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также выдачи направления на получение, либо изготовление технического средства реабилитации и (или) услуги в отобранные организации.</p>
	<p class="doc__p"><b>{{doc.approvedProstheses}}</b></p>
	<br>
	<p class="doc__p">Документы для предоставления государственных услуг могут быть направлены в электронной форме с использованием Единого портала государственных услуг (gosuslugi.ru), что значительно упростит процесс подачи заявления.</p>
	<p class="doc__p">Необходимую информацию Вы можете получить на сайте ГУ – Курского регионального отделения Фонда социального страхования (r46.fss.ru)</p>
	<br>
	<p class="doc__p"><input type="text" class="doc__field" placeholder="Должность" autofocus  (blur)="onBlur($event)" value="{{post}}">: ______________________ {{user}} {{doc.decisionDate | date:'dd-MM-yyyy'}}</p>
	<p class="doc__p">Контактный телефон: (4712) 72-23-69</p>
</div>