<div class="doc">
	<div class="doc__address">
		<textarea rows="5"></textarea>
	</div>
	<p class="doc__title ">
		УВЕДОМЛЕНИЕ<br>об отказе в рассмотрении заявления<br>
		{{doc.name}}, СНИЛС: {{doc.snils}}, адрес: {{doc.address}}
	</p>
	<p class="doc__p ">
		Государственное учреждение – Курское региональное отделение Фонда социального страхования Российской Федерации уведомляет об отказе в рассмотрении заявления от {{doc.requestDate | date:'dd-MM-yyyy'}} №{{doc.requestNum}}.
	</p>
	<p class="doc__p">
		Причина отказа – к заявлению не приложены необходимые документы или приложены не все документы, необходимые для предоставления государственной услуги по обеспечению инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также по выплате компенсации за самостоятельно приобретенные инвалидами технические средства реабилитации (ветеранами протезы (кроме зубных протезов), протезно-ортопедические изделия) и (или) оплаченные услуги и ежегодной денежной компенсации расходов инвалидов на содержание и ветеринарное обслуживание собак-проводников.
	</p>
	<p class="doc__p doc__p--warn">
		Недостающие документы, которые необходимо предоставить:
	</p>
	<p class="doc__p">
		<input type="checkbox">	заявление;<br>
		<input type="checkbox">	документ, удостоверяющий личность заявителя;<br>
 в случае если за получением государственной услуги в интересах заявителя обращается его представитель, то представляются также:<br>
		<input type="checkbox">	документ, удостоверяющий личность представителя заявителя;<br>
		<input type="checkbox">	документ, подтверждающий полномочия представителя заявителя;<br>
		<input type="checkbox">	свидетельство о рождении (для детей до 14 лет);<br>
		<input type="checkbox">	индивидуальная программа реабилитации инвалида (ребенка-инвалида;<br>
		<input type="checkbox">	заключение врачебной комиссии медицинской организации, оказывающей лечебно-профилактическую помощь, о нуждаемости ветерана в обеспечении протезами (кроме зубных протезов), протезно-ортопедическими изделиями;<br>
		<input type="checkbox">	документы, подтверждающие понесенные заявителем расходы;<br>
		<input type="checkbox">	письменное подтверждение необходимости поездки, выданное организацией, в которую выдано направление;<br>
		<input type="checkbox">	паспорт установленного образца на собаку-проводника;<br>
		<input type="checkbox">	копия справки установленного образца об осмотре собаки-проводника, выданной государственным ветеринарным учреждением не ранее чем за 30 дней до подачи заявления;<br>
		<input type="checkbox">	проездные документы, подтверждающие понесенные заявителем расходы;<br>
		<input type="checkbox">	заключение медико-технической экспертизы по установлению необходимости ремонта или досрочной замены технических средств (изделий);<br>
		<input type="checkbox">	страховое свидетельство обязательного пенсионного страхования заявителя.
	</p>
	<p class="doc__p doc__p--warn ">Основанием для начала административной процедуры является поступление в региональное отделение заявления и полного комплекта документов.</p>
	<p class="doc__p">После доработки заявление и пакет документов могут быть представлены в Государственное учреждение – Курское региональное отделение Фонда социального страхования Российской Федерации на личном приеме, по почте, в электронной форме через Единый портал, через многофункциональный центр.</p>
	<p class="doc__p">Данное решение может быть обжаловано в порядке, определенном приказом Минтруда России от 23.09.2014 N 657 "Об утверждении Административного регламента предоставления Фондом социального страхования Российской Федерации государственной услуги по обеспечению инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также по выплате компенсации за самостоятельно приобретенные инвалидами технические средства реабилитации (ветеранами протезы (кроме зубных протезов), протезно-ортопедические изделия) и (или) оплаченные услуги и ежегодной денежной компенсации расходов инвалидов на содержание и ветеринарное обслуживание собак-проводников".</p>
	<p class="doc__p">Жалоба может быть подана в письменной форме в ГУ Курское региональное отделение Фонда социального страхования Российской Федерации по адресу: 305029, г. Курск, ул. Никитская, д.16.</p>
	<br>
	<p class="doc__p"><input class="doc__field" placeholder="Должность"  (blur)="onBlur($event)" value="{{post}}" autofocus>: ______________________ {{user}} <input type="date"></p>
</div>
