<div class="doc">
	<div class="doc__title">Государственное учреждение –<br>
 		Курское региональное отделение Фонда социального
		страхования<br>Российской Федерации
	</div >
	<h1 class="doc__title">РЕШЕНИЕ</h1>
	<div class="doc__date">
		{{doc.decisionDate | date:'dd-MM-yyyy'}}
	</div>
	<div class="doc__num">
		№{{doc.decisionNum}}
	</div>
	<div class="doc__title">О предоставлении государственной услуги	</div >
	<p class="doc__p">Заместитель управляющего Государственным учреждением — Курским региональным отделением Фонда социального страхования Российской Федерации И.И. Орешко, рассмотрев личное заявление</p>
	<p class="doc__warning">от {{doc.requestDate | date:'dd.MM.yyyy'}} №{{doc.requestNum}}, {{doc.name}}</p>
	<p class="doc__small-text">и приложенные документы для предоставления государственной услуги по обеспечению инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также по выплате компенсации за самостоятельно приобретенные инвалидами технические средства реабилитации (ветеранами протезы (кроме зубных протезов), протезно-ортопедические изделия) и (или) оплаченные услуги и ежегодной денежной компенсации расходов инвалидов на содержание и ветеринарное обслуживание собак-проводников в соответствии с постановлением Правительства РФ от 7 апреля 2008 г. N 240 "О порядке обеспечения инвалидов техническими средствами реабилитации и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями".</p>
	<div class="doc__warning">РЕШИЛ</div >
	<p class="doc__p">Предоставить государственную услугу</p>
	<p class="doc__warning">{{doc.name}}</p>
	<p class="doc__p">в виде <b>постановки на учет</b> для обеспечения инвалидов техническими средствами реабилитации и (или) услугами и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями, а также <b>выдачи направления</b> на получение, либо изготовление технического средства реабилитации и (или) услуги в отобранные организации.</p>
	<p class="doc__p"><b>{{doc.approvedProstheses}}</b></p>
	<br>
	<br>
	<br>
	<p class="doc__p">Заместитель управляющего ____________________ Орешко И.И.</p>
</div>